<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="js/bootstrap.js"></script>
</head>
<body class="container-fluid">

<form method="get">
    <div class="placeholder"></div>
    <input type="submit" class="btn btn-primary col-4 input-group mb-3" formaction="/calculator"
           value="Калькулятор">
    <input type="submit" class="btn btn-primary col-4 input-group mb-3"
           formaction="/converter" value="Конвнретер">
</form>


</body>
</html>